<!-- navbar -->
<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar navbar-expand-sm fixed-top py-2 navbar-scrolled">
    <div class="container-fluid navbar-container p-0">
        <button class="navbar-toggler order-sm-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <% if (user) { %>
            <ul class="d-flex order-sm-2 m-0 align-items-center">
                <li class="nav-item">
                    <a href="">
                        <img src="/img/navbar/shopping-cart.png" class="cart-logo" />
                    </a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/img/client.png" class="rounded-circle" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-end mt-4 acc-info__container">
                            <div class="d-flex info__header">
                                <img src="/img/client.png" class="rounded-circle info__ava" />
                                <p class="info__name"><%- user.fullName %></p>
                            </div>
                            <div class="d-flex flex-column info__body">
                                <div class="d-flex align-items-center row">
                                    <p class="info__tag col-4">Giới tính:</p>
                                    <p class="info__content col-8" ><%- user.gender %></p>
                                </div>
                                <div class="d-flex align-items-center row">
                                    <p class="info__tag col-4">Ngày sinh:</p>
                                    <p class="info__content col-8"><%- user.dateOfBirth %></p>
                                </div>
                                <div class="d-flex align-items-center row">
                                    <p class="info__tag col-4">Điện thoại:</p>
                                    <p class="info__content col-8"><%- user.phoneNumber %></p>
                                </div>
                                <div class="d-flex align-items-center row">
                                    <p class="info__tag col-4">Mail:</p>
                                    <p class="info__content col-8"><%- user.email %></p>
                                </div>
                            </div>
                            <div class="mt-4 d-flex">
                                <button class="m-auto logOut-btn" onclick="logOut()">Đăng xuất</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <% } %>
                <div class="collapse navbar-collapse order-sm-1" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="navbar-left">
                            <a href="/">
                                <img src="/img/logo.png" class="nav-logo" />
                            </a>
                        </li>
                        <li class="nav-item d-flex navbar-left">
                            <a class="nav-link active navbar-text navbar-active  m-auto" aria-current="page"
                                href="#">TRANG CHỦ</a>
                        </li>
                        <li class="nav-item d-flex navbar-left">
                            <a class="nav-link active navbar-text  m-auto" aria-current="page" href="#">DU LỊCH</a>
                        </li>
                    </ul>
                </div>
                <% if (!user) { %>
                    <div class="collapse navbar-collapse justify-content-end order-sm-2" id="navbarNav">
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <button type="button" class="nav-link active navbar-text" data-bs-toggle="modal"
                                        data-bs-target="#loginModal">
                                        ĐĂNG NHẬP
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active navbar-text navbar-text__bordered" aria-current="page"
                                        href="/auth/register">ĐĂNG KÝ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <% } %>
    </div>
</nav>

<!-- modal login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <section class="gradient-custom modal-content bg-transparent ">
            <div class="container p-0">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="card login" style="border-radius: 30px;">
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <div class="d-flex">
                                    <img src="/img/logo.png" class="login__img m-auto" />
                                </div>
                                <div class="d-flex mt-3 mb-4">
                                    <p class="m-auto login__title">Chào mừng bạn quay trở lại Allez où</p>
                                </div>
                                <form id="loginForm" class="mt-5 d-flex flex-column">
                                    <label class="login__label" for="typeEmailX">Email</label>
                                    <input type="email" id="register__email" class="login__input" name="email"
                                        placeholder="Nhập địa chỉ email" required />

                                    <label class="login__label mt-4" for="typePasswordX">Mật khẩu</label>
                                    <input type="password" id="register__password" name="password" class="login__input"
                                        placeholder="Nhập mật khẩu" required />
                                    <div class="d-flex mt-5">
                                        <button id="login-btn" type="submit" class="blue-button m-auto">ĐĂNG
                                            NHẬP</button>
                                    </div>
                                </form>
                                <p class="login__forgot mt-5 align-self-center">Vẫn chưa có tài khoản?<a
                                        class="login__forgot-link" href="/auth/register">Tạo ngay</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script defer  src="/js/login.js"></script>