<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/css/dangkytour.css" />
        <script>
            var tourData = <%-JSON.stringify(tourData)%>;
            var itemId = <%-JSON.stringify(itemId)%>;
          </script>
        <script src="/js/dangkytour.js"></script>
    </head>
    <%- include('partials/navbar') %>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8 information">
                    <h4 style="font-weight: bold; text-decoration: underline;">Thông tin khách hàng</h4>
                    <p>Thông tin người đại diện</p>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr style="border-width: 0px;">
                                        <td style="border-width: 0px;">
                                            <form name="info">
                                                <div class="form-group row first-group">
                                                    <div class="col-md-6">
                                                        <label for="ho-ten" class="form-label">Họ và tên</label>
                                                        <input type="text" class="form-control" id="ho-ten" placeholder="Nhập họ và tên" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="so-dien-thoai" class="form-label">Số điện thoại</label>
                                                        <input type="tel" class="form-control" id="so-dien-thoai" placeholder="Nhập số điện thoại" />
                                                    </div>
                                                </div>
                                                <div class="form-group row second-group">
                                                    <div class="col-md-6">
                                                        <label for="dia-chi" class="form-label">Địa chỉ</label>
                                                        <input type="text" class="form-control" id="dia-chi" placeholder="Nhập địa chỉ thường trú" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="email" class="form-label">Email</label>
                                                        <input type="email" class="form-control" id="email" placeholder="Nhập email" />
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p style="font-weight: bolder;">Số lượng hành khách</p>
                    <div class="form-group row amountofpeople1">
                        <div class="col-md-6">
                            <div class="wrapper">
                                <div class="left-col">
                                    <label for="nguoilon" style="font-size: 1.92rem;">Người Lớn</label>
                                    <p style="font-style: italic; font-size: 1.28rem;">(từ 12 tuổi trở lên)</p>
                                </div>
                                <div class="right-col">
                                    <div class="input-group">
                                        <button class="minus-button" style="border-top-right-radius: 50%; border-bottom-right-radius: 50%;">-</button>
                                        <div class="quantity" style="font-weight: 800;">1</div>
                                        <button class="plus-button" style="border-top-left-radius: 50%; border-bottom-left-radius: 50%;">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 treem">
                            <div class="wrapper">
                                <div class="left-col">
                                    <label for="nguoilon" style="font-size: 1.92rem;"> Trẻ em</label>
                                    <p style="font-style: italic; font-size: 1.28rem;">(từ 5 - 11 tuổi)</p>
                                </div>
                                <div class="right-col">
                                    <div class="input-group">
                                        <button class="minus-button2" style="border-top-right-radius: 50%; border-bottom-right-radius: 50%;">-</button>
                                        <div class="quantity2" style="font-weight: 800;">0</div>
                                        <button class="plus-button2" style="border-top-left-radius: 50%; border-bottom-left-radius: 50%;">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row amountofpeople2">
                        <div class="col-md-6">
                            <div class="wrapper">
                                <div class="left-col">
                                    <label for="nguoilon" style="font-size: 1.92rem;">Trẻ nhỏ</label>
                                    <p style="font-style: italic; font-size: 1.28rem;">(từ 2 - 4 tuổi)</p>
                                </div>
                                <div class="right-col">
                                    <div class="input-group">
                                        <button class="minus-button3" style="border-top-right-radius: 50%; border-bottom-right-radius: 50%;">-</button>
                                        <div class="quantity3" style="font-weight: 800;">0</div>
                                        <button class="plus-button3" style="border-top-left-radius: 50%; border-bottom-left-radius: 50%;">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 embe">
                            <div class="wrapper">
                                <div class="left-col">
                                    <label for="nguoilon" style="font-size: 1.92rem;"> Em bé</label>
                                    <p style="font-style: italic; font-size: 1.28rem;">(dưới 2 tuổi)</p>
                                </div>
                                <div class="right-col">
                                    <div class="input-group">
                                        <button class="minus-button4" style="border-top-right-radius: 50%; border-bottom-right-radius: 50%;">-</button>
                                        <div class="quantity4" style="font-weight: 800;">0</div>
                                        <button class="plus-button4" style="border-top-left-radius: 50%; border-bottom-left-radius: 50%;">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p style="margin-top: 2em; font-weight: bolder;">Thông tin các hành khách</p>

                    <div class="information-nguoilon1">
                        <p style="font-weight: bolder;">Người Lớn</p>
                        <table class="table table-bordered2">
                            <tbody>
                                <tr style="border-width: 0px;">
                                    <td style="border-width: 0px; padding-top: 0;">
                                        <form name="information-nguoilon">
                                            <div class="form-group row first-group1" style="padding-top: 0;">
                                                <div class="col-md-5 col-5">
                                                    <label for="ho-ten" class="form-label">Họ và tên:</label>
                                                    <input type="text" class="form-control" id="ho-ten1" placeholder="Nhập họ và tên" />
                                                </div>
                                                <div class="col-md-3 col-3">
                                                    <label for="gender" class="form-label">Giới tính:</label>
                                                    <select class="form-control" id="gender">
                                                        <option value="">Chọn giới tính</option>
                                                        <option value="Male">Nam</option>
                                                        <option value="Female">Nữ</option>
                                                        <option value="Undefined">Khác</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-4">
                                                    <label for="ngay-sinh" class="form-label">Ngày sinh:</label>
                                                    <input type="date" class="form-control" id="ngay-sinh" placeholder="Nhập ngày sinh" />
                                                </div>
                                            </div>
                                            <div class="form-group row first-group2" style="padding-top: 0;"></div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="information-nguoilon2">
                        <p style="font-weight: bolder;">Trẻ em</p>
                        <table class="table table-bordered2">
                            <tbody>
                                <tr style="border-width: 0px;">
                                    <td style="border-width: 0px; padding-top: 0;">
                                        <form name="information-nguoilon">
                                            <div class="form-group row first-group3" style="padding-top: 0;">
                                                <div class="col-md-5 col-5">
                                                    <label for="ho-ten" class="form-label">Họ và tên:</label>
                                                    <input type="text" class="form-control" id="ho-ten1" placeholder="Nhập họ và tên" />
                                                </div>
                                                <div class="col-md-3 col-3">
                                                    <label for="gender" class="form-label">Giới tính:</label>
                                                    <select class="form-control" id="gender">
                                                        <option value="">Chọn giới tính</option>
                                                        <option value="Male">Nam</option>
                                                        <option value="Female">Nữ</option>
                                                        <option value="Undefined">Khác</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-4">
                                                    <label for="ngay-sinh" class="form-label">Ngày sinh:</label>
                                                    <input type="date" class="form-control" id="ngay-sinh" placeholder="Nhập ngày sinh" />
                                                </div>
                                            </div>
                                            <div class="form-group row first-group4" style="padding-top: 0;"></div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="information-nguoilon3">
                        <p style="font-weight: bolder;">Trẻ nhỏ</p>
                        <table class="table table-bordered2">
                            <tbody>
                                <tr style="border-width: 0px;">
                                    <td style="border-width: 0px; padding-top: 0;">
                                        <form name="information-nguoilon">
                                            <div class="form-group row first-group5" style="padding-top: 0;">
                                                <div class="col-md-5 col-5">
                                                    <label for="ho-ten" class="form-label">Họ và tên:</label>
                                                    <input type="text" class="form-control" id="ho-ten1" placeholder="Nhập họ và tên" />
                                                </div>
                                                <div class="col-md-3 col-3">
                                                    <label for="gender" class="form-label">Giới tính:</label>
                                                    <select class="form-control" id="gender">
                                                        <option value="">Chọn giới tính</option>
                                                        <option value="Male">Nam</option>
                                                        <option value="Female">Nữ</option>
                                                        <option value="Undefined">Khác</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-4">
                                                    <label for="ngay-sinh" class="form-label">Ngày sinh:</label>
                                                    <input type="date" class="form-control" id="ngay-sinh" placeholder="Nhập ngày sinh" />
                                                </div>
                                            </div>
                                            <div class="form-group row first-group6" style="padding-top: 0;"></div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="information-nguoilon4">
                        <p style="font-weight: bolder;">Em bé</p>
                        <table class="table table-bordered2">
                            <tbody>
                                <tr style="border-width: 0px;">
                                    <td style="border-width: 0px; padding-top: 0;">
                                        <form name="information-nguoilon">
                                            <div class="form-group row first-group7" style="padding-top: 0;">
                                                <div class="col-md-5 col-5">
                                                    <label for="ho-ten" class="form-label">Họ và tên:</label>
                                                    <input type="text" class="form-control" id="ho-ten1" placeholder="Nhập họ và tên" />
                                                </div>
                                                <div class="col-md-3 col-3">
                                                    <label for="gender" class="form-label">Giới tính:</label>
                                                    <select class="form-control" id="gender">
                                                        <option value="">Chọn giới tính</option>
                                                        <option value="Male">Nam</option>
                                                        <option value="Female">Nữ</option>
                                                        <option value="Undefined">Khác</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-4">
                                                    <label for="ngay-sinh" class="form-label">Ngày sinh:</label>
                                                    <input type="date" class="form-control" id="ngay-sinh" placeholder="Nhập ngày sinh" />
                                                </div>
                                            </div>
                                            <div class="form-group row first-group8" style="padding-top: 0;"></div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 information-tour">
                            <div id="tour-title">
                                <div style="text-align: center;">
                                    <label for="information-tour" style="text-decoration: underline;">Thông tin chuyến đi</label>
                                </div>
                                <div style="text-align: center;">
                                    <img src="<%=tourData.cardImgUrl%>" class="img-fluid" />
                                </div>
                                <div class="name-tour">
                                    <%=tourData.name%>
                                </div>
                                <div class="detail-information">
                                    <p class="code-tour">Mã Tour: <%=tourData.code%></p>
                                    <p class="khoihanh">Khởi Hành: <%=tourData.date%></p>
                                    <p class="noikhoihanh">Nơi Khởi Hành: <%=tourData.startPlace.name%></p>
                                    <p class="choconnhan">Chỗ còn nhận: <strong><%=tourData.remainSlots%></strong></p>
                                </div>
                            </div>

                            <div style="display: flex; justify-content: center; align-items: center;">
                                <hr />
                            </div>
                            <div class="total">
                                <div class="left-col">
                                    <label for="nguoilon" style="font-size: 1.92rem;">Người Lớn</label>
                                    <p style="font-style: italic; font-size: 1.28rem;">(từ 12 tuổi trở lên)</p>
                                </div>
                                <div class="right-col">
                                    <div class="quantity-display" style="font-size: 1.92rem;">0 ₫</div>
                                </div>
                            </div>
                            <div class="total2">
                                <div class="left-col">
                                    <label for="nguoilon" style="font-size: 1.92rem;"> Trẻ em</label>
                                    <p style="font-style: italic; font-size: 1.28rem;">(từ 5 - 11 tuổi)</p>
                                </div>
                                <div class="right-col">
                                    <div class="quantity-display2" style="font-size: 1.92rem;">0 ₫</div>
                                </div>
                            </div>
                            <div class="total3">
                                <div class="left-col">
                                    <label for="nguoilon" style="font-size: 1.92rem;">Trẻ nhỏ</label>
                                    <p style="font-style: italic; font-size: 1.28rem;">(từ 2 - 4 tuổi)</p>
                                </div>
                                <div class="right-col">
                                    <div class="quantity-display3" style="font-size: 1.92rem;">0 ₫</div>
                                </div>
                            </div>
                            <div class="total4">
                                <div class="left-col">
                                    <label for="nguoilon" style="font-size: 1.92rem;"> Em bé</label>
                                    <p style="font-style: italic; font-size: 1.28rem;">(dưới 2 tuổi)</p>
                                </div>
                                <div class="right-col">
                                    <div class="quantity-display4" style="font-size: 1.92rem;">0 ₫</div>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <hr />
                            </div>
                            <div class="total6">
                                <div class="left-col">
                                    <label for="nguoilon" style="font-size: 1.92rem;"> TỔNG CỘNG:</label>
                                </div>
                                <div class="right-col">
                                    <div class="tonghanhkhach">hành khách</div>
                                    <div class="total5" style="font-size: 1.92rem;">0</div>
                                </div>
                            </div>
                            <div class="button-order">
                                <button id="button-order-btn">ĐẶT NGAY</button>
                                <!-- <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a> -->
                            </div>
                            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
                                <div class="modal-dialog modal-dialog-centered" style="width: 41.5rem;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalToggleLabel" style="font-weight: 900;">Thanh toán</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="bodymodal" style="padding-left: 0.6em; padding-right: 0.5em; padding-top: 1em;">
                                            <div class="form-group row">
                                                <div class="col-md-6 col-6">
                                                    <label for="nguoilon" style="font-weight: normal;"> Tổng hóa đơn:</label>
                                                </div>
                                                <div class="col-md-6 col-6">
                                                    <div class="tongcong text-right" style="font-size: 1.92rem;">0</div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-6 col-6">Phương thức thanh toán</div>
                                                <div class="col-md-6 col-6" id="phuongthuc">Chuyển khoản ngân hàng</div>
                                            </div>
                                        </div>
                                        <div class="modalfooter">
                                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Thanh Toán</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered" style="width: 41.5rem;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalToggleLabel" style="font-weight: 900;">Thanh toán</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="bodymodal" style="padding-left: 1em; padding-right: 2em; padding-top: 2em; padding-bottom: 2em;">
                                            <div class="row">
                                                <div class="col-md-5 col-5" id="xacnhanmatkhau" >Xác nhận mật khẩu</div>
                                                <input type="password" class="col-md-7 col-7" id="xacnhanmatkhauinput">
                                            </div> 
                                        </div>
                                        <div class="modalfooter">
                                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal" id="button-xacnhan">Xác Nhận</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered" style="width: 41.5rem;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalToggleLabel" style="font-weight: 900;">Thanh toán</h2>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="bodymodal" style="padding-left: 0.6em; padding-right: 0.5em; padding-top: 1em;">
                                            <div class="row">
                                                <div class="col-md-12 col-12" id="dathangthanhcong" >Bạn đã đặt tour thành công! Vui lòng kiểm tra tình trạng tour đã đặt tại giỏ hàng.</div>
                                            </div> 
                                        </div>
                                        <div class="modalfooter">
                                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal" href="/cart/orderHistory">Xem giỏ hàng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>
    </body>
    <%- include('partials/footer') %>
</html>
